@model TestingLayout.Models.UsersViewModel
@{
    ViewBag.Title = "AllUsers";
}

<h2>AllUsers</h2>
@if (Model.UserData.Count> 0)
{
    <table>
        <tr>
            <td>@Model.GetLabel("ID")</td>
            <td>@Model.GetLabel("Name")</td>
        </tr>
        @for (int i = 0; i < Model.UserData.Count; i++)
        {
            <tr>
                <td>@Model.UserData[i].ID</td>
                <td>@Model.UserData[i].Name</td>
            </tr>
        }
    </table>
}
else
{
    <b>@Model.GetLabel("norecord")</b>
}

@Html.ActionLink(Model.GetLabel("newuser")+ "Novy", "NewUser")