@*@model TestingLayout.Models.NewUserViewModel*@
@model TestingLayout.Models.User
@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>Language: @ViewBag.Language</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>*@

            <div class="editor-field">
                @*<label>@Model.GetLabel("name")</label>*@
                <label>@Model.aa()</label>

                @*<label>@ViewBag.Labels["name".ToLower()]==null ? "****" : Labels["name"]</label>*@

                @*<label>@ViewBag.Labels.ContainsKey("name") ? @ViewBag.Labels["name"] : "**" </label>*@

                @*@Html.TextArea("name", "")*@
            </div>


            <div class="editor-field">
                @*<label>@Model.GetLabel("gender")</label>*@

                @*@Html.DropDownList("genders", Model.GetLabel("select..."))*@

                @*@Html.DropDownList("Pohlavi", ((SelectList)ViewBag.Genders), Model.GetLabel("select..."))*@

                @*@Html.DropDownList("Pohlavi", ((SelectList)ViewBag.Genders), "select...")*@










            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>

    @section topmenu-fdskajhfdsa
    {
        Top Menu
    }
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
